// Default palette
$color_default:       #f1eceb;
$color_lightest:      #f1eceb;
$color_lighter:       #f1eceb;
$color_light:         #f1eceb;
$color_medium:        #273240;
$color_dark:          #141319;
$color_darker:        #0D0D0D;
$color_active:        #b9472d;
$color_active_light:  #b9472d;
$color_active_medium: #b9472d;
$color_active_dark:   #b9472d;

// Alternative palettes
$theme_palettes: (
  cyan: (
    lightest:      #f7f9fb,
    lighter:       #f0f4f8,
    light:         #d8e2ed,
    medium:        #627d98,
    dark:          #334e68,
    darker:        #243b53,
    active:        #54d1db,
    active_light:  #bef8fd,
    active_medium: #38bec9,
    active_dark:   #14919b
  ),
  yellow: (
    lightest:      #f7f6f5,
    lighter:       #f0efed,
    light:         #d8d6d1,
    medium:        #625d52,
    dark:          #38352f,
    darker:        #27241d,
    active:        #fbbf24,
    active_light:  #fcd34d,
    active_medium: #f7b305,
    active_dark:   #d49a04
  )
);

// Font family
$font_family_primary:   'Open Sans', sans-serif;
$font_family_secondary: 'Lato', sans-serif;

// Font sizes
$font_size_xxlarge: 64px;
$font_size_xlarge:  48px;
$font_size_large:   32px;
$font_size_medium:  24px;
$font_size_regular: 20px;
$font_size_small:   16px;

// Spacing
$spacing--max-width: 1300px;
$spacing--unit:      8px;

// Global styles
@import "imports/functions";
@import "imports/mixins";
@import "imports/reset";
@import "imports/fonts";
@import "imports/base";
@import "imports/links";
@import "imports/buttons";

// Components
@import "imports/nav";
@import "imports/content";
@import "imports/product_grid";
@import "imports/product";
@import "imports/store";
@import "imports/bulletpoints_section";
@import "imports/page";
@import "imports/hero";
@import "imports/faq";
@import "imports/contact";
@import "imports/hamburger";
@import "imports/static_header";
@import "imports/quotes";
@import "imports/footer";
@import "imports/promo";
@import "imports/snipcart";

.herohome {
    background-color: red;
}